<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Автокредит</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="credit">
      <div class="credit__container">
        <h2 class="credit__title">Преимущества автокредита</h2>
        <div class="credit__advantages">
          <div class="credit__item">
            <img src="../../assets/images/1-card__woman.png" alt="Image" class="credit__image" />
            <p class="credit__text">40 кредитных программ на выбор</p>
          </div>
          <div class="credit__item">
            <img src="../../assets/images/2-card__family.png" alt="Image" class="credit__image" />
            <p class="credit__text">Срок кредитования до 7 лет</p>
          </div>
          <div class="credit__item">
            <img src="../../assets/images/car-key.png" alt="Image" class="credit__image" />
            <p class="credit__text">Размер кредита до 3 000 000 ₽</p>
          </div>
          <div class="credit__item">
            <img src="../../assets/images/great.png" alt="Image" class="credit__image" />
            <p class="credit__text">Досрочное погашение без штрафа</p>
          </div>
          <div class="credit__item credit__item--highlight">
            <p class="credit__number">0%</p>
            <p class="credit__text">Первоначальный взнос от 0%</p>
          </div>
          <div class="credit__item credit__item--highlight">
            <p class="credit__number">1,9%</p>
            <p class="credit__text">Ставка по кредиту от 1,9%</p>
          </div>
          <div class="credit__item">
            <img src="../../assets/images/key.png" alt="Image" class="credit__image" />
            <p class="credit__text">Процент одобрения кредита 98%</p>
          </div>
          <div class="credit__item">
            <img src="../../assets/images/lats-card__woman.png" alt="Image" class="credit__image" />
            <p class="credit__text">
              Ответ кредитных специалистов в течение 30 минут
            </p>
          </div>
        </div>

        <div class="credit__bottom">
          <div class="credit__conditions">
            <h3 class="credit__subtitle">Условия покупки</h3>
            <ul class="credit__list">
              <li class="credit__list-item">Взнос 0 ₽</li>
              <li class="credit__list-item">Срок кредита до 7 лет</li>
              <li class="credit__list-item">Госпрограмма первое авто</li>
              <li class="credit__list-item">Семейный автомобиль</li>
              <li class="credit__list-item">
                Автокредит для медицинских работников
              </li>
              <li class="credit__list-item">
                Скидка 60 000 на покупку нового авто
              </li>
              <li class="credit__list-item">
                10% скидки по Trade-in на покупку нового авто
              </li>
              <li class="credit__list-item">Более 30 банков партнеров</li>
            </ul>
          </div>
          <div class="credit__docs">
            <h3 class="credit__subtitle">Необходимые документы</h3>
            <ul class="credit__list">
              <li class="credit__list-item">Паспорт</li>
              <li class="credit__list-item">Водительское удостоверение</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
