<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figma #1</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <header>
            <!-- Header top info -->
            <div class="header-top">
                <div class="header-info">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="header-text">Россия, Москва, 38КМ МКАД, 6Бс1</p>
                </div>
                <div class="header-info">
                    <i class="fa-solid fa-clock"></i>
                    <p class="header-text">Время работы: c 08:00 до 21:00</p>
                </div>
                <div class="header-info">
                    <i class="fa-brands fa-whatsapp"></i>
                    <a class="link-whatsapp" href="https://web.whatsapp.com/">WhattsApp</a>
                </div>
            </div>

            <!-- Main navigation -->
            <div class="header-main">
                <div class="nav-top">
                    <div class="logo"><img src="figma.img/Group 1781.png" alt="#"></div>
                    <div class="logo"><img src="figma.img/Group 673.png" alt="#"></div>
                    <div class="logo2">
                        <div><span class="div-red">10 лет</span>превосходим ваши ожидания</div>
                    </div>

                    <div class="nav-links">
                        <p class="active-link">Подбор авто</p>
                        <p>О кампании</p>
                        <p>Техцентр</p>
                        <p>Отзывы</p>
                        <p>Контакты</p>
                    </div>

                    <div class="icon-call"><i class="fa-solid fa-phone"></i></div>
                    <div>
                        <div class="icon-img1"><a href="tell:+7 (800) 551-94-31"></a>+7 (800) 551-94-31</div>
                        <div class="icon-img2"><a href="tell:+7 (495) 292-18-67"></a>+7 (495) 292-18-67</div>
                    </div>
                    <div><button class="btn-callback">ОБРАТНЫЙ ЗВОНОК</button></div>
                </div>

                <!-- Secondary navigation -->
                <div class="nav-bottom">
                    <div class="nav-item">
                        <h1>КАТАЛОГ АВТО <i class="fa-solid fa-chevron-down"></i></h1>
                    </div>
                    <div class="nav-item">
                        <h1>АВТО С ПРОБЕГОМ <i class="fa-solid fa-chevron-down"></i></h1>
                    </div>
                    <div class="nav-item">
                        <h1>КРЕДИТ И РАССРОЧКА <i class="fa-solid fa-chevron-down"></i></h1>
                    </div>
                    <div class="nav-item">
                        <h1>СПЕЦПРЕДЛОЖЕНИЯ <i class="fa-solid fa-chevron-down"></i></h1>
                    </div>
                    <div class="nav-item">
                        <h1>ТАКСИ В КРЕДИТ</h1>
                    </div>
                    <div class="nav-icons">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-chart-simple"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>

                <!-- Breadcrumb & page info -->
                <nav>
                    <div class="breadcrumb">
                        <div class="breadcrumb-links">
                            <p>Главная<i class="fa-solid fa-angle-right"></i></p>
                            <p>Кредит и рассрочка<i class="fa-solid fa-angle-right"></i></p>
                            <p>Семейный автомобиль</p>
                        </div>
                        <div class="page-intro">
                            <h1 class="page-title">Семейный автомобиль</h1>
                            <p class="page-desc">
                                Программа “Семейный автомобиль” рассчитана на покупателей с одним и
                                более несовершеннолетними детьми в семье
                            </p>
                        </div>
                        <div class="discount-box">
                            <div class="discount-box_text">от 1,9%</div>
                            <div class="discount-box_text2">по льготной ставке</div>
                        </div>
                        <div class="price-discount">
                            <p class="price-discount_1">-10%</p>
                            <p class="price-discount_2">От стоимости автомобиля</p>
                        </div>
                    </div>
                </nav>
          
        </header>
    </div>

</body>

</html>