<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="car-detail">
      <div class="container">
        <nav class="breadcrumb">
          <a href="#">Главная</a>
          <span>/</span>
          <a href="#">Автомобили с пробегом</a>
          <span>/</span>
          <span class="active">Toyota Camry 2013</span>
        </nav>
        <div class="car-top">
          <div class="gallery">
            <div class="gallery-main">
              <img src="./assets/Toyoto.png" alt="Toyota Camry 2013" />
            </div>
            <div class="gallery-thumbs">
              <img src="./assets/mini-toyoto.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
              <img src="./assets/toyoto-blur.svg" alt="" />
            </div>
          </div>
          <div class="car-info">
            <h1 class="car-title">Toyota Camry 2013</h1>
            <p class="car-subtitle">Автомобили с пробегом · 1 владелец</p>
            <p class="car-price">850 000 ₽</p>
            <p>В кредит 
                от 12 000 ₽/мес</p>
            <div class="car-buttons">
              <button class="btn btn-red">Забронировать онлайн</button>
              <button class="btn btn-gray">Купить в кредит</button>
              </div>
              <div class="info-item">
                <img src="./assets/Group 3609.svg" alt="nm">
                <p>Зачёт вашего авто в trade-in</p>
              </div>
              <div class="info-item">
                <img src="./assets/percent.svg" alt="nm">
                <p>Доп. выгода до 200 000 ₽</p>
              </div>
              <div class="info-item">
                <img src="./assets/Group 3608.svg" alt="nm">
                <p>Зачёт вашего 
                    авто
                    в trade-in</p>
              </div>
            </div>
          </div>
        </div>
        <div class="services">
          <div class="service-card">
            <div class="service-content">
              <img src="./assets/service-girl.svg" alt="" />
              <div class="service-text">
                <h3>Рассрочка от ВТБ</h3>
                <p>Рассрочка 0%</p>
                <button class="btn btn-light">Рассрочка</button>
              </div>
            </div>
          </div>
          <div class="service-card">
            <div class="service-content">
              <img src="./assets/Mask Group.svg" class="service-picture" alt="" />
              <div class="service-text">
                <h3>Выгода по Trade-in</h3>
                <p>Дополнительная выгода </p>
                <p>до 200 000 руб </p>
                <button class="btn btn-light">Trade-in</button>
              </div>
            </div>
        </div>
          <div class="service-card">
            <div class="service-content">
              <img src="./assets/happy girl.svg" alt="" />
              <div class="service-text">
                <h3>Первоначальный взнос 0%</h3>
                <p>Кредит 1,9%</p>
                <button class="btn btn-light">Скидка</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description">
        <div class="container">
          <h1>Описание Toyota Camry 2013 2.0 AT Стандарт</h1>
          <br><br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et
            lorem elit. Nam nisi nulla, fringilla vel pharetra ac, luctus in est.
            Pellentesque faucibus interdum arcu, non molestie leo malesuada in.
            Donec quam turpis, hendrerit nec ante id, tincidunt convallis sapien.
            In molestie dignissim elit non mollis. Donec at dapibus nisl, sed
            aliquam ipsum. Mauris mi libero, congue ut feugiat sit amet, cursus
            eget orci. Aenean vel fermentum dui. Aenean dictum diam in augue
            porttitor luctus.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Phasellus et lorem elit. Nam nisi nulla, fringilla vel pharetra
            ac, luctus in est. Pellentesque faucibus interdum arcu, non molestie
            leo malesuada in. Donec quam turpis, hendrerit nec ante id, tincidunt
            convallis sapien. In molestie dignissim elit non mollis.
          </p>
        </div>
      </div>
      <br><br>
      <div class="container">
        <h1>Комплектация Toyota Camry 2013 2.0 AT Стандарт</h1>
        <div class="specs">
          <div class="spec-column">
            <div class="spec-item">
              <div class="spec-name">Максимальная мощность двигателя (кВт) при об./мин.</div>
              <div class="spec-value">110 л.с.</div>
            </div>
            <div class="spec-item">
              <div class="spec-name">Тип привода</div>
              <div class="spec-value">Передний</div>
            </div>
          </div>
          <div class="spec-column">
            <div class="spec-item">
              <div class="spec-name">Тип трансмиссии</div>
              <div class="spec-value">МКПП</div>
            </div>
            <div class="spec-item">
              <div class="spec-name">Объем двигателя, куб.см</div>
              <div class="spec-value">100</div>
            </div>
          </div>
        </div>
        <button class="btn2">ПОКАЗАТЬ ЕЩЕ</button>
      </div> 
      <div>
        <div class="container">
        <img src="./assets/Group 4207 (1).png" width="1300" alt="">
    </div>
      </div>
      <br><br>
      <div class="container">
        <h1>Автомобили с пробегом за эти же деньги</h1>
        <br><br>
        <div class="cards">
          <div class="card">
            <img src="./assets/toyoto2.png" alt="Toyota Camry 2013">
            <div class="card-content">
              <div class="car-title">Toyota Camry 2013</div>
              <div class="specs">
                <p>Мощность: <b>115 л.с.</b></p>
                <p>Объем двигателя: <b>1.2 л</b></p>
                <p>Привод: <b>передний</b></p>
                <p>Кузов: <b>внедорожник</b></p>
                <p>Пробег: <b>123456 км</b></p>
                <p>КПП: <b>механика</b></p>
              </div>
              <div class="price">от 1 615 000 ₽</div>
              <div class="price-month">от 115 000 ₽ / мес.</div>
              <div class="buttons">
                <button class="btn2 btn-red">Резерв онлайн</button>
                <button class="btn2 btn-black">Купить</button>
                <button class="btn2 btn-gray">Подробнее</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/toyoto2.png" alt="Toyota Camry 2013">
            <div class="card-content">
              <div class="car-title">Toyota Camry 2013</div>
              <div class="specs">
                <p>Мощность: <b>115 л.с.</b></p>
                <p>Объем двигателя: <b>1.2 л</b></p>
                <p>Привод: <b>передний</b></p>
                <p>Кузов: <b>внедорожник</b></p>
                <p>Пробег: <b>123456 км</b></p>
                <p>КПП: <b>механика</b></p>
              </div>
              <div class="price">от 1 615 000 ₽</div>
              <div class="price-month">от 115 000 ₽ / мес.</div>
              <div class="buttons">
                <button class="btn2 btn-red">Резерв онлайн</button>
                <button class="btn2 btn-black">Купить</button>
                <button class="btn2 btn-gray">Подробнее</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/toyoto2.png" alt="Toyota Camry 2013">
            <div class="card-content">
              <div class="car-title">Toyota Camry 2013</div>
              <div class="specs">
                <p>Мощность: <b>115 л.с.</b></p>
                <p>Объем двигателя: <b>1.2 л</b></p>
                <p>Привод: <b>передний</b></p>
                <p>Кузов: <b>внедорожник</b></p>
                <p>Пробег: <b>123456 км</b></p>
                <p>КПП: <b>механика</b></p>
              </div>
              <div class="price">от 1 615 000 ₽</div>
              <div class="price-month">от 115 000 ₽ / мес.</div>
              <div class="buttons">
                <button class="btn2 btn-red">Резерв онлайн</button>
                <button class="btn2 btn-black">Купить</button>
                <button class="btn2 btn-gray">Подробнее</button>
              </div>
            </div>
          </div>
        </div>
        <button class="show-more">ПОКАЗАТЬ ЕЩЕ</button>
      </div>
    </section>
  </body>
</html>
