<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="offers">
      <div class="offers__container">
        <div class="offers__list">
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Skoda Octavia</h3>
              <p class="card__subtitle">1.6 MPI MT Active</p>
              <button class="card__like">
                <img src="../../assets/images/like-icon.png" alt="Like" />
                <span>0</span>
              </button>
            </div>

            <div class="card__badges">
              <span class="card__badge card__badge--red">Предложение дня</span>
              <span class="card__badge card__badge--border"
                >Выгода<br />до 300 000 ₽</span
              >
            </div>

            <div class="card__gifts">
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Оборудование<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>КАСКО<br /><b>в подарок</b></span>
              </div>
              <div class="card__gift">
                <img
                  src="../../assets/images/black-gift.png"
                  alt="Gift"
                  style="
                    background-color: #000;
                    border-radius: 50%;
                    padding: 5px;
                  "
                />
                <span>Комплект резины<br /><b>в подарок</b></span>
              </div>
            </div>

            <div class="card__image">
              <img src="../../assets/images/skoda-car.png" alt="Skoda Octavia" />
            </div>

            <div class="card__prices">
              <p>от <b>1 615 000 ₽</b></p>
              <p>Кредит от <b>115 000 ₽/мес.</b></p>
            </div>

            <div class="card__features">
              <span><img src="icons/power.svg" alt="" /> 115 л.с.</span>
              <span><img src="icons/fuel.svg" alt="" /> 5.3 л/км</span>
              <span><img src="icons/speed.svg" alt="" /> 189 км/ч</span>
              <span><img src="icons/time.svg" alt="" /> 10.3 с.</span>
            </div>

            <div class="card__buttons">
              <button class="card__btn card__btn--red">Резерв онлайн</button>
              <button class="card__btn">Купить</button>
              <button class="card__btn card__btn--grey">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
