<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="discount">
  <div class="discount__container">
    <div class="discount__content">
      <h2 class="discount__title">Получите скидку <br> на покупку нового авто!</h2>
      <p class="discount__description">
        Помогаем молодым семьям не только встать на ноги, но и сесть за руль! Если вы — будущие клиенты,
        государство оплатит 10% от общей суммы кредита на покупку нового автомобиля (для Дальнего Востока — 25%).
      </p>

      <div class="discount__columns">
        <div class="discount__column">
          <h3 class="discount__subtitle">Основные условия программ</h3>
          <ul class="discount__list">
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
          </ul>
        </div>

        <div class="discount__column">
          <h3 class="discount__subtitle">Общие требования для участия</h3>
          <ul class="discount__list">
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
            <li class="discount__list-item">10% размер субсидии от стоимости автомобиля без дополнительного оборудования</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="discount__image-wrapper">
      <img src="../../assets/images/people.png" alt="Счастливая пара и авто" class="discount__image">
    </div>
  </div>
</section>

</body>
</html>