<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <title>Наши подборки</title>
</head>

<body>
    <div class="container">
        <div class="podborkiwrapper">
            <div class="write">
                <h1 class="podborki__title">Наши подборки</h1>
                <h2 class="podborki__subtitle">Все подборки</h2>
            </div>
            <img src="../../../assets/images/arrows1.svg" alt="">
        </div>



        <div class="displaygrid">


            <div class="podborkicardwrapper">
                <div class="podborkicard1"> <img class="img" src="../../../assets/images/Rectangle 438.png" alt="">
                    <div class="podborkicard1__notes">
                        <h1>Семейные
                            автомобили</h1>
                        <h2>Посмотреть</h2>
                    </div>
                </div>
                <div class="podborkicard2"></div>
                <div class="podborkicard3"></div>
            </div>
            <div class="podborkicardwrapper">
                <div class="podborkicard1"> <img class="img1" src="../../../assets/images/Rectangle 440.png" alt="">
                    <div class="podborkicard1__notes">
                        <h1>Автомобили для путешествий</h1>
                        <h2>Посмотреть</h2>
                    </div>
                </div>
                <div class="podborkicard2"></div>
                <div class="podborkicard3"></div>
            </div>
            <div class="podborkicardwrapper">
                <div class="podborkicard1"> <img class="img" src="../../../assets/images/Rectangle 439.png" alt="">
                    <div class="podborkicard1__notes">
                        <h1>Городские
                            автомобили</h1>
                        <h2>Посмотреть</h2>
                    </div>
                </div>
                <div class="podborkicard2"></div>
                <div class="podborkicard3"></div>
            </div>



        </div>

    </div>
    </div>

</body>

</html>