<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <section class="trust">
        <div class="trust__container">
            <h2 class="trust__title">Нам доверяют</h2>
            <div class="trust__controls">
                <button class="trust__button trust__button--prev">‹</button>
                <button class="trust__button trust__button--next">›</button>
            </div>
            <div class="trust__cards">
                <div class="trust__card review-site">
                    <div class="review-site__info">
                        <p class="review-site__title">Сайт отзывик</p>
                        <p class="review-site__subtitle">Название автосалона</p>
                        <div class="review-site__bottom">
                            <span class="review-site__text">Рекомендуют 90%</span>
                            <img src="../../assets/images/5stars.svg" alt="">
                            <div class="review-site__rating">4.5</div>
                        </div>
                    </div>
                </div>

                <div class="trust__card review-site">
                    <div class="review-site__info">
                        <p class="review-site__title">Сайт отзывик</p>
                        <p class="review-site__subtitle">Название автосалона</p>
                        <div class="review-site__bottom">
                            <span class="review-site__text">Рекомендуют 90%</span>
                            <img src="../../assets/images/5stars.svg" alt="">
                            <div class="review-site__rating">4.5</div>
                        </div>
                    </div>
                </div>

                <div class="trust__card review-site">
                    <div class="review-site__info">
                        <p class="review-site__title">Сайт отзывик</p>
                        <p class="review-site__subtitle">Название автосалона</p>
                        <div class="review-site__bottom">
                            <span class="review-site__text">Рекомендуют 90%</span>
                            <img src="../../assets/images/5stars.svg" alt="">
                            <div class="review-site__rating">4.5</div>
                        </div>
                    </div>
                </div>

                <div class="trust__card review-site">
                    <div class="review-site__info">
                        <p class="review-site__title">Сайт отзывик</p>
                        <p class="review-site__subtitle">Название автосалона</p>
                        <div class="review-site__bottom">
                            <span class="review-site__text">Рекомендуют 90%</span>
                            <img src="../../assets/images/5stars.svg" alt="">
                            <div class="review-site__rating">4.5</div>
                        </div>
                    </div>
                </div>

                <div class="trust__card maps-review maps-review--yandex">

                    <div class="maps-review__info">
                        <div>
                            <img src="../../assets/images/yandex-maps-logo 2.svg" alt="">
                            <p class="maps-review__subtitle">Название автосалона</p>
                        </div>
                        <div class="maps-review__bottom">
                            <span class="maps-review__text">Рекомендуют 90%</span>
                            <div class="maps-review__stars">★★★★☆</div>
                        </div>
                        <div class="maps-review__rating">4.5</div>
                    </div>
                </div>

                <div class="trust__card maps-review maps-review--google">
                    <div>
                        <img src="../../assets/images/Google_Maps_Logo 3.svg" alt="">
                        <p class="maps-review__subtitle">Название автосалона</p>
                    </div>
                    <div class="maps-review__info">
                        <div class="maps-review__bottom">
                            <span class="maps-review__text">Рекомендуют 90%</span>
                            <div class="maps-review__stars">★★★★☆</div>
                        </div>
                        <div class="maps-review__rating">4.1</div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="reviews">
        <div class="reviews__container">
            <h2 class="reviews__title">Отзывы</h2>

            <div class="reviews__list">

                <div class="review-card">
                    <div class="review-card__video-wrapper">
                        <div class="review-card__video-background">
                            <img src="../../assets/images/A logo.svg" alt="Логотип" class="review-card__logo">
                            <img src="../../assets/images/red player btn.svg" alt="Play"
                                class="review-card__play-button">
                        </div>
                    </div>
                    <div class="review-card__content">
                        <p class="review-card__name">Сергей Васильев</p>
                        <p class="review-card__text">
                            «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это
                            не обман,
                            вам гарантия 100% точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                            салон ALTERA...»
                        </p>
                        <button class="review-card__more">
                            Подробнее <span class="review-card__arrow">▼</span>
                        </button>
                    </div>
                </div>

                <div class="review-card">
                    <input type="checkbox" id="toggle-review-1" class="review-card__toggle" hidden>

                    <div class="review-card__video-wrapper">
                        <div class="review-card__video-background">
                            <img src="../../assets/images/A logo.svg" alt="Логотип" class="review-card__logo">
                            <img src="../../assets/images/red player btn.svg" alt="Play"
                                class="review-card__play-button">
                        </div>
                    </div>

                    <div class="review-card__content">
                        <p class="review-card__name">Сергей Васильев</p>

                        <input type="checkbox" id="toggle-review-1" class="review-card__toggle" hidden>

                        <div class="review-card__text-wrapper">
                            <p class="review-card__text">
                                «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют,
                                это не обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали
                                приобрести автомобиль в салон ALTERA, и нас встретил менеджер, Андрей его зовут, очень
                                приятный молодой человек, вникся во все наши проблемы.... Профессионально давал
                                рекомендации всякие, объяснения, нам это очень понравилось, и, в конце концов, с его
                                усилиями совместно с нашими претензиями мы выбрали автомобиль.»
                            </p>
                        </div>

                        <label for="toggle-review-1" class="review-card__more">
                            <span class="review-card__more-text">Подробнее</span>
                            <span class="review-card__arrow">▼</span>
                        </label>
                    </div>

                </div>

                <div class="review-card">
                    <div class="review-card__video-wrapper">
                        <div class="review-card__video-background">
                            <img src="../../assets/images/A logo.svg" alt="Логотип" class="review-card__logo">
                            <img src="../../assets/images/red player btn.svg" alt="Play"
                                class="review-card__play-button">
                        </div>
                    </div>
                    <div class="review-card__content">
                        <p class="review-card__name">Сергей Васильев</p>
                        <p class="review-card__text">
                            «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это
                            не обман,
                            вам гарантия 100% точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                            салон ALTERA...»
                        </p>
                        <button class="review-card__more">
                            Подробнее <span class="review-card__arrow">▼</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>