<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="car-offer">
      <div class="car-offer__breadcrumbs">
        <a href="#" class="car-offer__link">Главная</a>
        <span>›</span>
        <a href="#" class="car-offer__link">Каталог авто</a>
        <span>›</span>
        <a href="#" class="car-offer__link">Toyota</a>
        <span>›</span>
        <span class="car-offer__current">Toyota Camry</span>
      </div>

      <div class="car-offer__container">
        <div class="car-offer__info">
          <h1 class="car-offer__title">Toyota Camry</h1>
          <div class="car-offer__price-box">
            <span class="car-offer__old-price">800 000 ₽</span>
            <span class="car-offer__new-price">от 700 000 ₽</span>
            <span class="car-offer__discount">Выгода до 100 000₽</span>
          </div>

          <ul class="car-offer__benefits">
            <li class="car-offer__benefit">
              <img src="../../assets/images/gift.png" alt="gift" class="car-offer__benefit-icon" />
              <span>Улучшим любое предложение</span>
            </li>
            <li class="car-offer__benefit">
              <img src="../../assets/images/percent.png" alt="0%" class="car-offer__benefit-icon" />
              <span
                >Без первоначального <br />
                взноса</span
              >
            </li>
            <li class="car-offer__benefit">
              <img
                src="../../assets/images/ruble-icon.png"
                alt="credit"
                class="car-offer__benefit-icon"
              />
              <span>Кредит от 1,9%</span>
            </li>
          </ul>
        </div>

        <div class="car-offer__car">
          <p class="car-offer__color-label">Цвет: Night Black</p>
          <div class="car-offer__colors">
            <span
              class="car-offer__color car-offer__color--active"
              style="background-color: #000"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #666"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #a52a2a"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #eee"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #ccc"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #fff"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #0088cc"
            ></span>
            <span
              class="car-offer__color"
              style="background-color: #d10000"
            ></span>
          </div>
          <img
            src="../../assets/images/camry-car.png"
            alt="Toyota Camry"
            class="car-offer__image"
          />
        </div>
      </div>

      <div class="car-offer__form-box">
        <div class="car-offer__form-info">
          <p class="car-offer__form-title">Получите специальную цену</p>
          <p class="car-offer__form-subtitle">Только до 10.10.21</p>
        </div>
        <form class="car-offer__form">
          <input type="text" placeholder="Ваше имя" class="car-offer__input" />
          <input
            type="tel"
            placeholder="Ваш телефон"
            class="car-offer__input"
          />
          <button type="submit" class="car-offer__button">
            ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ
          </button>
        </form>
        <p class="car-offer__privacy">
          Нажимая кнопку "Получить скидку" Вы даете согласие на обработку своих
          <a href="#" class="car-offer__privacy-link">персональных данных</a>
        </p>
      </div>
    </section>
  </body>
</html>
