<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../css/global.css">
    <title>Document</title>
</head>

<body>
    <section class="features container">
        <div class="features__grid">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon.svg" alt="0% первый взнос" class="features__icon">
                <p class="features__text">0% первый взнос</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">
            <div class="features__item">
                <img src="../../assets/images/taxi-features icon2.svg" alt="Одобрение кредита" class="features__icon">
                <p class="features__text">Одобрение кредита в течение 15-30 минут</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon3.svg" alt="Минимум документов" class="features__icon">
                <p class="features__text">Минимум документов для подачи заявки</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon4.svg" alt="Trade-in" class="features__icon">
                <p class="features__text">Trade-in в качестве первоначального взноса</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon5.svg" alt="Оклейка и брендинг" class="features__icon">
                <p class="features__text">Оклейка и брендирование в подарок</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon6.svg" alt="Помощь в оформлении" class="features__icon">
                <p class="features__text">Помощь в оформлении документов</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon7.svg" alt="Комплект резины" class="features__icon">
                <p class="features__text">Комплект резины в подарок</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon8.svg" alt="Оформление ОСАГО" class="features__icon">
                <p class="features__text">Оформление ОСАГО за 15 минут</p>
            </div>
            <img src="../../assets/images/taxi-features line.svg" alt="">

            <div class="features__item">
                <img src="../../assets/images/taxi-features icon9.svg" alt="Лицензия под такси" class="features__icon">
                <p class="features__text">Поможем оформить лицензию под такси</p>
            </div>

        </div>
    </section>

</body>

</html>