.features {
    padding: 40px 20px;
    background-color: #ffffff;
}

.features__grid {
    display: flex;
    flex-wrap: wrap;
    /* позволяет переносить элементы на новую строку */
    justify-content: center;
    /* выравнивание по центру */
    gap: 30px;
}

.features__item {
    flex: 1 1 200px;
    /* позволяет карточке сжиматься и расширяться */
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__icon {
    margin-bottom: 31px;
}

.features__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #262626;
}