<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="container">
      <div class="bank__header">
        <h1 class="bank__title">Банки-партнеры</h1>
        <div class="signs">
          <div>
            <img src="../../assets/images/Group 3316.svg" alt="" width="90px" />
          </div>
          <div>
            <img
              src="../../assets/images/Group 3315 (1).svg"
              alt=""
              width="48px"
            />
          </div>
        </div>
      </div>
      <div class="bank__cards">
        <div class="sberbank">
          <img src="../../../assets/images/SB RUS RGB.svg" alt="" />
        </div>
        <div class="vtvbank">
          <img src="../../../assets/images/Group 3379.svg" alt="" />
        </div>
        <div class="alfabank">
          <img src="../../../assets/images/Group 3378.svg " alt="" />
        </div>
        <div class="sberbank">
          <img src="../../../assets/images/SB RUS RGB.svg" alt="" />
        </div>
      </div>
      <div class="punch__section">
        <img src="../../../assets/images/1 620.png " alt="*" />
        <div class="display">
          <img
            src="../../../assets/images/pngwing 3.png"
            alt=""
            class="gloves"
          /><img
            src="../../../assets/images/Mask Group.png"
            alt=""
            class="background"
          />
          <div class="gloves__note">
            <h1 class="gloves__title">Перебьем предложения от конкурентов!</h1>
            <h2 class="gloves__subtitle">
              Скидки <span class="span">от 10 до 25%</span> на стоимость
              автомобиля
            </h2>
            <div class="input">
              <input type="text " placeholder="Ваш телефон" />
              <h1 class="h1">Получить предложение</h1>
            </div>
            <h1 class="gray__subtitle">
              Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
              персональных данных
            </h1>
          </div>
        </div>
      </div>
      <div class="hidden">
        <img
          src="../../../assets/images/1 620 (1).png"
          alt=""
          class="black__fon"
        />
        <img
          src="../../../assets/images/pngwing 3.png"
          alt=""
          class="punch__img"
        />
        <h1 class="hidden__title">Перебьем предложения от конкурентов!</h1>
        <h2 class="hidden__subtitle">
          Скидки <span class="span">от 10 до 25%</span> на стоимость автомобиля
        </h2>
        <input type="text" class="input2" placeholder="Your Number" />
        <h1 class="h2">Получить предложение</h1>
        <h1 class="gray__subtitle2">
          Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
          персональных данных
        </h1>
      </div>
    </div>
  </body>
</html>
