<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <section class="credit-conditions">
        <div class="container">
            <ul class="credit-conditions__list">
                <h1 class="credit-conditions__list-title">Условия получения
                    рассрочки</h1>
                <li class="credit-conditions__list-item">
                    <p class="credit-conditions__list-subtitle"><img src="../../assets/images/red circle check icon.svg"
                            alt=""> Без подтверждения дохода </p>
                    <p class="credit-conditions__list-text">Чтобы получить кредит, вам нужны паспорт и водительское
                        удостоверение. Банк не требует
                        подтверждение дохода, информацию о продавце и оформление КАСКО.</p>
                </li>
                <li class="credit-conditions__list-item">
                    <p class="credit-conditions__list-subtitle"><img src="../../assets/images/red circle check icon.svg"
                            alt=""> Без первоначального взноса </p>
                    <p class="credit-conditions__list-text">Кредит выдаётся без первоначального взноса на карту, с
                        которой без процентов можно снять
                        наличные. Банк доставит карту бесплатно.</p>
                </li>
                <li class="credit-conditions__list-item">
                    <p class="credit-conditions__list-subtitle"><img src="../../assets/images/red circle check icon.svg"
                            alt=""> Без сложностей с регистрацией
                    </p>
                    <p class="credit-conditions__list-text">Для регистрации автомобиля после покупки нужны только копии
                        договора купли-продажи и паспорта
                        транспортного средства. Да, это всё.</p>
                </li>
            </ul>
        </div>
        <img class="credit-conditions__img-car1" src="../../assets/images/grey car turned left.svg" alt="">
        <img class="credit-conditions__img-car2" src="../../assets/images/red car turned left.svg" alt="">
    </section>
</body>

</html>