<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./selection.css" />
  </head>
  <body>
    <div class="container">
      <section class="selection">
        <div class="selection__logo-wrapper">
          <div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.kia.svg"
                alt="kia logo"
              />
              <p>Kia</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.briliance.svg"
                alt="kia logo"
              />
              <p>Brilliance</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.cetroen.svg"
                alt="kia logo"
              />
              <p>Citroen</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.ford.svg"
                alt="kia logo"
              />
              <p>Ford</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.haima.svg"
                alt="car logo"
              />
              <p>Haima</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.lifan.svg"
                alt="car logo"
              />
              <p>Lifan</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.peugeot.svg"
                alt="car logo"
              />
              <p>Peugeot</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.uaz.svg"
                alt="car logo"
              />
              <p>UAZ</p>
            </div>
          </div>
          <div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.hyundai.svg"
                alt="car logo"
              />
              <p>Hyundai</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.changan.svg"
                alt="car logo"
              />
              <p>Changan</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.datsun.svg"
                alt="car logo"
              />
              <p>Datsun</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.foton.svg"
                alt="car logo"
              />
              <p>Foton</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.haval.svg"
                alt="car logo"
              />
              <p>Haval</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.mazda.svg"
                alt="car logo"
              />
              <p>Mazda</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.ravon.svg"
                alt="car logo"
              />
              <p>Ravon</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.zotye.svg"
                alt="car logo"
              />
              <p>Zotye</p>
            </div>
          </div>
          <div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.skoda.svg"
                alt="car logo"
              />
              <p>Skoda</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.chery.svg"
                alt="car logo"
              />
              <p>Chery</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.dongfeng.svg"
                alt="car logo"
              />
              <p>Dongfeng</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.gac.svg"
                alt="car logo"
              />
              <p>GAC</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.honda.svg"
                alt="car logo"
              />
              <p>Honda</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.mitsubishi.svg"
                alt="car logo"
              />
              <p>Mitsubishi</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.renault.svg"
                alt="car logo"
              />
              <p>Renault</p>
            </div>
          </div>
          <div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.volkswagen.svg"
                alt="car logo"
              />
              <p>Volkswagen</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.chery.svg"
                alt="car logo"
              />
              <p>CheryExeed</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.hover.svg"
                alt="car logo"
              />
              <p>DW Hower</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.geely.svg"
                alt="car logo"
              />
              <p>Geely</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.jac.svg"
                alt="car logo"
              />
              <p>JAC</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.nissan.svg"
                alt="car logo"
              />
              <p>Nissan</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.sangyong.svg"
                alt="car logo"
              />
              <p>SsangYong</p>
            </div>
          </div>
          <div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.tayota.svg"
                alt="car logo"
              />
              <p>Toyota</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.chevrolet.svg"
                alt="car logo"
              />
              <p>Chevrolet</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.faw.svg"
                alt="car logo"
              />
              <p>FAW</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.greatwal.svg"
                alt="car logo"
              />
              <p>Great Wall</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.lada.svg"
                alt="car logo"
              />
              <p>Lada</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.opel.svg"
                alt="car logo"
              />
              <p>Opel</p>
            </div>
            <div class="selection__logo">
              <img
                src="../../../assets/images/car.selection.suzuki.svg"
                alt="car logo"
              />
              <p>Suzuki</p>
            </div>
          </div>
        </div>
        <div class="selection__choise">
          <h1 class="selection__title">Быстрый подбор авто</h1>
          <img
            class="selection__line"
            src="../../../assets/images/car.selection.line.png"
            alt="line"
          />

          <form>
            <select name="model">
              <option value="">Модель</option>
              <option value="toyota_camry">Toyota Camry</option>
              <option value="toyota_corolla">Toyota Corolla</option>
              <option value="bmw_3">BMW 3 Series</option>
              <option value="bmw_5">BMW 5 Series</option>
              <option value="audi_a4">Audi A4</option>
              <option value="audi_a6">Audi A6</option>
            </select>

            <select name="year">
              <option value="">Год выпуска</option>
              <option value="2025">2025</option>
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
            </select>
          </form>
          <form>
            <select name="body_type">
              <option value="">Тип кузова</option>
              <option value="sedan">Седан</option>
              <option value="hatchback">Хэтчбек</option>
              <option value="suv">Внедорожник (SUV)</option>
              <option value="coupe">Купе</option>
              <option value="pickup">Пикап</option>
              <option value="wagon">Универсал</option>
            </select>

            <select name="gearbox">
              <option value="">Коробка</option>
              <option value="manual">Механическая</option>
              <option value="automatic">Автоматическая</option>
              <option value="robot">Роботизированная</option>
              <option value="cvt">Вариатор (CVT)</option>
            </select>
          </form>

          <button>Показать 73</button>
        </div>
      </section>
    </div>
  </body>
</html>
