<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="taxi-profit ">

            <img class="taxi-profit__car" src="../../assets/images/taxi turned right img.svg" alt="Такси">

            <div class="taxi-profit__content">
                <h2 class="taxi-profit__title">Сколько можно<br>заработать на такси?</h2>
                <div class="taxi-profit__lists-wrapper">
                    <div class="taxi-profit__list taxi-profit__list--own">
                        <div class="taxi-profit__label taxi-profit__label--green">Преимущества</div>
                        <h3 class="taxi-profit__subtitle">Своё такси</h3>
                        <ul class="taxi-profit__items">
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Авто в личной собственности по ПТС
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Платеж по кредиту от 90 руб. в день
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Рассрочка 0% без первоначального взноса
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Бесплатная установка ГБО для экономии топлива
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Оклейка автомобиля по ГОСТу
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/green plus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Быстрое оформление всех документов под ключ
                            </li>
                        </ul>
                    </div>
                    <div class="taxi-profit__list taxi-profit__list--rent">
                        <div class="taxi-profit__label taxi-profit__label--red">Недостатки</div>
                        <h3 class="taxi-profit__subtitle">Аренда такси</h3>
                        <ul class="taxi-profit__items">
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Авто в собственности автопарка
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Платеж за арендованное такси от 1200 руб. в день
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Риск скрытых комиссий и переплат
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Нельзя установить доп. оборудование
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Возможно несоответствие нормам ГОСТ
                            </li>
                            <li class="taxi-profit__item">
                                <img src="../../assets/images/red minus circle icon.svg" alt=""
                                    class="taxi-profit__icon">
                                Долгое оформление документов
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>

</body>

</html>